{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": ["@antfu/eslint-config-react", "eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:react-hooks/recommended", "@unocss"],
  "ignorePatterns": ["dist", ".eslintrc.cjs"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-refresh"],
  "overrides": [
    {
      "files": ["*.json"],
      "rules": {
        "quote-props": ["off"],
        "@typescript-eslint/quotes": ["off"]
      }
    }
  ],
  "rules": {
    "react-refresh/only-export-components": [
      "warn",
      {
        "allowConstantExport": true
      }
    ],
    "no-console": ["off"]
  }
}
